.w1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar a {
    color: #33433d;
}

.navhov :hover {
    color: #00a862;
}

.navhover :hover{
    color: #f2f0eb;
}

.leftdiv1 {
    color: #fff;
    background-color: #33433d;
}


.rightdiv2 {
    color: #fff;
    background-color: #33433d;
}

.icedfont {
    font-size: 3em;
}

.chill {
    color: #fff;
    background-color: #33433d;
}

.chillfont {
    font-size: 4em;
}


.rightdiv4 {
    background-color: #d4e9e2;
}

.leftdiv5 {
    background-color: #d4e9e2;
}


.rightdiv6 {
    background-color: #d4e9e2;
}

.card-title {
    font-size: 18px;
}