.navbar a {
    color: #33433d;
}

.navhov :hover {
    color: #00a862;
}

.navhover :hover{
    color: #f2f0eb;
}

.leftdiv1 {
    color: #fff;
    background-color: #33433d;
}

.rightdiv1 {
    height: 18rem;
    width: 50vw;
}

.leftdiv2 {
    width: 50vw;
    height: 40rem;
}

.rightdiv2 {
    color: #fff;
    background-color: #33433d;
}