body {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar a {
    color: #33433d;
}

.navhov :hover {
    color: #00a862;
}

.navhover :hover{
    color: #f2f0eb;
}

.leftdiv1 {
    color: #fff;
    background-color: #33433d;
}

.rightdiv1 {
    height: 18rem;
    width: 100%;
}

.leftdiv2 {
    width: 100%;
    height: 40rem;
}

.rightdiv2 {
    color: #fff;
    background-color: #33433d;
}

.icedfont {
    font-size: 4em;
}

.chill {
    color: #fff;
    background-color: #33433d;
}

.chillfont {
    font-size: 4em;
}

.rightdiv3 {
    width: 100%;
    height: 40rem;
}

.leftdiv4 {
    width: 100%;
    height: 25rem;
}

.rightdiv4 {
    background-color: #d4e9e2;
}

.leftdiv5 {
    background-color: #d4e9e2;
}

.rightdiv5 {
    width: 100%;
    height: 25rem;
}

.leftdiv6 {
    width: 100%;
    height: 25rem;
}

.rightdiv6 {
    background-color: #d4e9e2;
}